        h1, p, i {
            color: rgb(28, 0, 128);
            font-size: 30px;
            font-family: monospace;
        }

        .titulo{
            color: red;
        }

        #paragrafo{
            color: green;
        }